automated_output.ipynb
autorun_shell_script_server_v2.sh
autorun_shell_script_v2.sh
autorun_shell_script.log
crontab_entry.txt
git_credential_cache_command.txt
rclone_mount_script.sh
recent_weather_data_old_v2.ipynb
recent_weather_data_old.ipynb
temp_historical_data.csv
weather_import.py
.ipynb_checkpoints/.ipynb-checkpoint
.ipynb_checkpoints/automated_output-checkpoint.ipynb
.ipynb_checkpoints/autorun_shell_script_v2-checkpoint.sh
.ipynb_checkpoints/autorun_shell_script-checkpoint.log
.ipynb_checkpoints/autorun_shell_script-checkpoint.sh
.ipynb_checkpoints/rclone_mount_script-checkpoint.sh
.ipynb_checkpoints/readme-checkpoint.md
.ipynb_checkpoints/recent_weather_data_old_v2-checkpoint.ipynb
.ipynb_checkpoints/recent_weather_data-checkpoint.ipynb
.ipynb_checkpoints/weather_import-checkpoint.py
.jupyter/desktop-settings.json
.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
recent_weather_output/Old/hourly_data.csv
recent_weather_output/Old/KCHO_historical_hourly_data_OLD.csv
recent_weather_output/Old/old_hourly_data.csv
recent_weather_output/Old/old_KCHO_historical_hourly_data_v2.csv
recent_weather_output/Old/old_KCHO_historical_hourly_data.csv
recent_weather_output/Old/old_KCHO_most_recent_3_day_data.csv
.ipynb
